/* mobile */
.auth {
    width: 75%;
    border-radius: 80px;
    padding: 25px;
}

.auth h2 {
    text-align: center;
}

.control {
    margin-bottom: 30px;
}

.control label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

.control input {
    font: inherit;
    border-radius: 50px;
    width: 97%;
    text-align: left;
    padding: .5rem;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button,
.toggle,
.forgotPassword {
    cursor: pointer;
    font: inherit;
    font-weight: 600;
    color: var(--pink);
    border: none;
    padding: 0.5rem 2.5rem;
}

.actions button,
.toggle {
    background-color: var(--darkteal);
    border-radius: 50px;
}

.forgotPassword {
    background-color: transparent;
}

.actions .toggle {
    margin: 15px 0 0 0;
}

.forgotPassword {
    display: block;
    font-size: 1rem;
    margin: 15px auto 5px auto;
}

.passwordContainer {
    position: relative;
}

.showPassword {
    position: absolute;
    top: 25%;
    right: 10px;
    height: 50%;
}

/* tablets */
@media only screen and (min-width: 600px) {}

/* desktop */
@media only screen and (min-width: 900px) {
    .auth {
        width: 30%;
    }
}

@media (prefers-color-scheme: dark) {
    .auth {
        background-color: var(--pink);
    }

    .auth h2 {
        color: var(--teal);
    }

    .control label {
        color: var(--teal);
    }
    
    .control input {
        border: 1px solid var(--teal);
    }

    .forgotPassword {
        color: var(--teal);
    }
}

@media (prefers-color-scheme: light) {
    .auth {
        background-color: var(--teal);
    }

    .auth h2 {
        color: var(--pink);
    }

    .control label {
        color: var(--pink);
    }
    
    .control input {
        border: 1px solid var(--pink);
    }

    .forgotPassword {
        color: var(--pink);
    }
}