/* mobile */
/* The Modal (background) */
.modal {
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    margin: auto;
}

/* Modal Header */
.modal-header {
    width: 85%;
    margin: auto;
    padding: 2px 16px;
    background-color: rgb(45, 45, 45);
    color: white;
}

/* Modal Body */
.modal-body {
    width: 85%;
    margin: auto;
    padding: 2px 16px;
    background-color: white;
    text-align: left;
}

/* Modal Footer */
.modal-footer {
    width: 85%;
    margin: auto;
    padding: 16px;
    background-color: white;
    text-align: right;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* tablets */
@media only screen and (min-width: 600px) {

    /* Modal Header */
    .modal-header {
        width: 68%;
    }

    /* Modal Body */
    .modal-body {
        width: 68%;
    }

    /* Modal Footer */
    .modal-footer {
        width: 68%;
    }
}

/* desktop */
@media only screen and (min-width: 900px) {

    /* Modal Header */
    .modal-header {
        width: 40%;
    }

    /* Modal Body */
    .modal-body {
        width: 40%;
    }

    /* Modal Footer */
    .modal-footer {
        width: 40%;
    }
}

@media (prefers-color-scheme: dark) {

    /* Modal Body */
    .modal-body {
        background-color: rgb(69, 69, 69);
    }

    /* Modal Footer */
    .modal-footer {
        background-color: rgb(69, 69, 69);
    }

    /* The Close Button */
    .close {
        color: #fff;
    }

    .close:hover,
    .close:focus {
        color: black;
    }
}