/* mobile */
.input-form {
    border-style: solid;
    margin: 10px 10px 40px 10px;
    padding: 20px;
    width: 300px;
}

.input-form label {
    padding: 10px;
    display: block;
    height: 60px;
}

.input-form label select,
.input-form label input {
    margin: 10px;
    height: 40%;
}

.error {
    color: red;
    font-size: .75em;
    margin: 10px;
}

/* The Close Button */
.delete {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.delete:hover,
.delete:focus {
    text-decoration: none;
    transform: scale(1.5);
    cursor: pointer;
}

/* tablets */
@media only screen and (min-width: 600px) {
    .input-form {
        width: 500px;
    }
}

/* desktop */
@media only screen and (min-width: 900px) {
    .input-form {
        width: 85%;
    }
}