.table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0px 40px 0px;
}

.table th,
.table tr,
.table td {
    border: 1px solid black;
    padding: 10px;
}

.table th {
    background-color: rgb(159, 141, 120);
}

.table tr:hover {
    background-color: rgba(159, 141, 120, 0.25);
}

.table img {
    width: 25px;
    float: right;
}