/* mobile */
.table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px 0px 40px 0px;
}

.table th,
.table tr,
.table td {
    border: 1px solid black;
    padding: 5px;
    font-size: .75em;
}

.table th {
    background-color: rgb(111, 111, 111);
}

.table tr:hover {
    background-color: rgba(69, 69, 69, 0.25);
}

.table img {
    width: 15px;
    float: right;
}

.alpha-asc {
    content:url("../../../assets/images/sorting/sortAscendingAlpha_light.png");
}

.numeric-asc {
    content:url("../../../assets/images/sorting/sortAscendingNumeric_light.png");
}

.alpha-desc {
    content:url("../../../assets/images/sorting/sortDescendingAlpha_light.png");
}

.numeric-desc {
    content:url("../../../assets/images/sorting/sortDescendingNumeric_light.png");
}

/* tablets */
@media only screen and (min-width: 600px) {
    .table {
        width: 80%;
    }

    .table th,
    .table tr,
    .table td {
        padding: 10px;
        font-size: .85em;
    }

    .table img {
        width: 25px;
    }
}

/* desktop */
@media only screen and (min-width: 900px) {
    .table {
        width: 70%;
    }

    .table th,
    .table tr,
    .table td {
        padding: 10px;
        font-size: 1em;
    }

    .table img {
        width: 40px;
    }
}

@media (prefers-color-scheme: dark) {
    .table th {
        background-color: rgb(47, 47, 47);
    }

    .table tr:hover {
        background-color: rgba(156, 156, 156, 0.25);
    }

    .alpha-asc {
        content:url("../../../assets/images/sorting/sortAscendingAlpha_dark.png");
    }

    .numeric-asc {
        content:url("../../../assets/images/sorting/sortAscendingNumeric_dark.png");
    }

    .alpha-desc {
        content:url("../../../assets/images/sorting/sortDescendingAlpha_dark.png");
    }

    .numeric-desc {
        content:url("../../../assets/images/sorting/sortDescendingNumeric_dark.png");
    }
}