/* mobile */
.table-toggle {
    content: url('../../../assets/images/charts/table-96-dark.png');
    width: 45px;
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 1;
}

.selector {
    cursor: pointer;
    border: none;
    border: 1px solid var(--teal);
    border-radius: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: var(--pink);
    font: inherit;
    font-size: .75em;
    color: var(--teal);
    outline: none;
}

.transaction-btn {
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: var(--teal);
    font: inherit;
    color: var(--pink);
}

@media (prefers-color-scheme: dark) {
    .table-toggle {
        content: url('../../../assets/images/charts/table-96-light.png');
    }
}

/* tablets */
@media only screen and (min-width: 600px) {}

/* desktop */
@media only screen and (min-width: 900px) {
    .table-toggle {
        content: url('../../../assets/images/charts/table-48-dark.png');
    }

    @media (prefers-color-scheme: dark) {
        .table-toggle {
            content: url('../../../assets/images/charts/table-48-light.png');
        }
    }
}