.scroll-top {
  padding: 2px 7px;
  font-size: .75em;
  border-radius: 10px 0px 0px 0px;
  text-decoration: none;
  color: white;
  background-color: grey;
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (prefers-color-scheme: dark) {
  .negative {
    color: red;
  }
}

@media (prefers-color-scheme: light) {
  .negative {
    color: rgb(120, 0, 0);
  }
}