/* mobile */
.children {
    background-color: #f6ebcb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

/* tablets */
@media only screen and (min-width: 600px) {}

/* desktop */
@media only screen and (min-width: 900px) {
    .children {
        padding-top: 58px;
    }
}