/* mobile */
.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(69, 69, 69);
    height: 60px;
    width: 100%;
    z-index: 9999;
}

.logo {
    float: left;
    height: 55px;
    padding: 0px 5px 0px 10px;
}

.logout {
    display: none;
}

.navbar h2 {
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 3rem;
    color: white;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.navbar li {
    display: inline-block;
}

.navbarLink {
    display: inline-block;
    color: white;
    padding: 20px 10px;
    text-decoration: none;
}

.active {
    background-color: rgb(169, 169, 169);
}

/* tablets */
@media only screen and (min-width: 600px) {
    .navbar {
        width: 100%;
    }

    .logo {
        padding: 0px 20px 0px 10px;
    }

    .navbar h2 {
        padding: 0px 20px 0px 0px;
    }

    .navbarLink {
        padding: 20px 20px;
    }
}

/* desktop */
@media only screen and (min-width: 900px) {
    .logout {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        cursor: pointer;
        height: 40px;
    }

    .nav-list {
        display: block;
    }

    .navbar li {
        display: inline-block;
    }

    .navbarLink {
        padding: 20px 20px;
    }

    .navbar li:hover {
        background-color: rgba(169, 169, 169, 0.454);
    }
}

@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: rgb(45, 45, 45);
    }
}